rest-chapter7-service-doctools/rest-chapter7-raml2jaxrs/src/main/resources/raml/schemas/departments.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="departments" type="departments"/>

  <xs:complexType name="departments">
    <xs:sequence>
      <xs:element name="departmentId" type="xs:short" minOccurs="0"/>
      <xs:element name="departmentName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

